.button {
  --transition-duration: 0.3s;
  --transition-timing: ease-in-out;

  outline: none;
  background: none;
  border-radius: var(--radius-md);
  padding: var(--space-2) var(--space-4);
  box-shadow: none;
  border: none;
  opacity: 1;

  transition: all var(--transition-duration) var(--transition-timing);
}

@media only screen and (max-width: 42rem) {
  .button {
    display: block;
    width: 100%;
    margin-bottom: var(--space-4);
  }
}

.button:hover,
.button:focus {
  opacity: 0.8;
  box-shadow: var(--shadow-md);
}

.button.primary {
  background-color: var(--green-500);
  color: var(--green-100);
}

.button.inverted {
  background-color: var(--green-100);
  color: var(--green-500);
}
