.status {
  padding: var(--space-16) 0;
}

.status h2 {
  line-height: var(--leading-normal);
}

.status p {
  line-height: var(--leading-normal);
}

@media only screen and (max-width: 42rem) {
  .gallery {
    margin-top: var(--space-16);
  }
}
