.filters {
  display: flex;
  align-items: center;
  margin-top: var(--space-16);
}

.inner {
  display: flex;
}

@media only screen and (max-width: 42rem) {
  .inner {
    width: 100%;
    justify-content: space-between;
  }
}

.stat {
  --default-delay: 0.8s;
  --i: var(--default-delay);

  color: var(--gray-500);
  background: var(--gray-200);
  padding: var(--space-2) var(--space-4);
  border-radius: var(--radius-lg);
  opacity: 0;

  composes: fade-in-up from global;
  animation-delay: calc(var(--i)) !important;
}

.stat:not(:last-of-type) {
  margin-right: var(--space-4);
}

.stat:nth-child(2) {
  --i: calc(var(--default-delay) * 1.2);
}
.stat:nth-child(3) {
  --i: calc(var(--default-delay) * 1.4);
}

@media only screen and (max-width: 42rem) {
  .stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
