.image img {
  margin-bottom: var(--space-4);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: var(--text-lg);
}

.details {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-8);
}

.details span {
  font-size: var(--text-sm);
  font-weight: var(--weight-500);
  color: var(--gray-500);
  margin-right: var(--space-4);
}

.details span:last-of-type {
  margin-right: var(--space-0);
}

.description {
  line-height: var(--leading-relaxed);
  font-size: var(--text-md);
  color: var(--gray-500);
}
