.container {
  position: relative;
  margin-bottom: var(--space-16);
}

.container > article {
  display: flex;
  flex-direction: column;
}

.item {
  --animation-duration: 0.3s;
  box-shadow: var(--shadow-md);

  opacity: 0;
  align-self: stretch;
  transition: box-shadow var(--animation-duration);
  composes: fade-in-down from global;
}

.item:hover {
  box-shadow: var(--shadow-lg);
}
