.image {
  width: var(--space-full);
  display: block;
}

.caption {
  text-align: center;
  color: var(--gray-500);
  font-size: var(--text-sm);
  padding: var(--space-3) var(--space-0);
  margin-bottom: calc(var(--space-3) * -1);
  margin-top: calc(var(--space-2) * -1);
}
